@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.aboutus,
.ourservices {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.githubicon a {
  text-decoration: none;
  color: white;
}
#devcontainer{
  background-color: #202124;
  height: 100vh;
}
.devcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}
#pfp {
  width: 200px;
}
.socials {
  width: 80%;
}


body {
  padding-top: 75px;
}

#m {
  color: #389d44;
}

#e {
  color: #cd7b70;
}

#r {
  color: #72cdf5;
}

#n {
  color: #9ac049;
}
